[submodule "externals/rapidjson"]
	path = externals/rapidjson
	url = https://github.com/miloyip/rapidjson.git
[submodule "externals/spdlog"]
	path = externals/spdlog
	url = https://github.com/gabime/spdlog.git
